/*Set variables to colors*/
:root{
    --white: #ffffff;
    --black: #000000;
    --principal-color: #FBC12E;
    --second-color: #9C733A;
    --third-color: #412B19;
    --fourth-color: #F7F4F3;
}
/* BACKGROUND COLOR FOR NAVBAR*/
.bg-buildsphere{
    background-color: var(--second-color);
    font-size: 20px;
    font-weight: bold;
}

/*STYLES FOR BANNER*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--principal-color);
    color: var(--third-color);
    font-weight: bold;
}

/*STYLES FOR RIGHT SIDE BANNER*/
.banner-right-side{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*SPACING FOR TEXT AND BUTTONS*/
.text-button-banner{
    margin: 20%;
}

/*JUSTIFYING CONTENT FOR LEFT SIDE*/
.banner-left-side{
    display: flex;
    width: 50%;
}

/*BORDER FOR IMG OF BANNER*/
.principal-banner{
    border-radius: 10px;
}

/*STYLES FOR BUTTONS OF BANNER*/
.btn-buildsphere{
    background-color: var(--second-color);
    padding: 13px 23px;
    color: var(--fourth-color);
    border: none;
    border-radius: 15px;
    margin: 10px;
}

.btn-buildsphere:hover{
    background-color: var(--third-color);
}
/*STYLES FOR ABOUT US SECTION*/
.about-us {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*STYLES FOR HEADER OF ABOUT US SECTION*/
.about-us-header {
    background-color: var(--second-color);
    text-align: center;
    padding: 1.25rem 0;
    color: var(--third-color);
}

/*STYLES FOR CONTENT OF ABOUT US SECTION*/
.about-us-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--second-color);
    color: var(--third-color);
    padding-bottom: 1.25rem;
}

/*STYLES FOR IMAGE OF ABOUT US SECTION*/
.about-us-image {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*STYLES FOR IMAGE OF ABOUT US SECTION*/
.about-us-image img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    border-radius: 10px;
}

/*STYLES FOR TEXT OF ABOUT US SECTION*/
.about-us-text {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1.25rem;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*STYLES FOR RESPONSIVE DESIGN*/
@media (max-width: 48em) {
    .about-us-content {
        flex-direction: column;
        align-items: center;
    }

    .about-us-image, .about-us-text {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1rem;
        justify-content: center;
    }

    .about-us-image img {
        max-height: none;
    }
}

/* STYLES FOR PLANS SECTION */
.plans-section {
    background-color: var(--second-color);
    padding: 2rem 0;
    text-align: center;
}
/* STYLES FOR TITLE OF PLANS SECTION */
.plans-title {
    color: var(--fourth-color);
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
/* STYLES FOR PLANS SECTION */
.plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
/* STYLES FOR PLANS ITEM */
.plans-item {
    width: 398px;
    height: 702px;
    max-width: 30%;
    background-color: var(--principal-color);
    padding: 20px;
    border-radius: 10px;
    margin: 0 1rem 2rem;
    box-sizing: border-box;

    
}
/* STYLES FOR PLANS ITEM TITLE AND DESCRIPTION */
.plans-item-title {
    color: var(--third-color);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3.16rem;
    padding-top: 1rem;
}
/* STYLES FOR PLANS ITEM DESCRIPTION */
.plans-item-description {
    color: var(--third-color);
    line-height: 1.6;
    text-align: center;
    padding-bottom: 5.38rem;
    font-size: 1.3rem;
}

/* STYLES FOR PLANS ITEM LIST */
.plans-item-ul {
    color: var(--third-color);
    line-height: 1.6;
    padding-bottom: 8.38rem;
    text-align: left;
    font-size: 1.3rem;
}

/* STYLES FOR PLANS ITEM PRICE */
.plans-item-price {
    color: var(--black);
    line-height: 1.6;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 7rem;
}

/* BUTTON GET NOW */
.btn-get-now {
    background-color: var(--fourth-color);
    color: var(--principal-color);
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border: none;
    border-radius: 15px;
  }
  
  .btn-get-now:hover{
    background-color: var(--principal-color);
    color: var(--fourth-color);
}

  .btn-no-link{
      text-decoration: none;
  }

/* STYLES FOR RESPONSIVE DESIGN PLANS */
@media (max-width: 768px) {
    .plans {
        flex-direction: column;
    }

    .plans-item {
        width: auto;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* STYLES FOR FEATURES SECTION */
.features {
    background-color: var(--principal-color);
    padding: 2rem 0;
    text-align: center;
}
/* STYLES FOR TITLE OF FEATURES SECTION */
.features-title {
    color: var(--third-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}
/* STYLES FOR FEATURES SECTION */
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
/* STYLES FOR FEATURE ITEM */
.feature-item {
    width: auto;
    max-width: 30%;
    background-color: var(--second-color);
    padding: 1rem;
    border-radius: 10px;
    margin: 0 1rem 2rem;
    box-sizing: border-box;
}
/* STYLES FOR FEATURE ITEM TITLE AND DESCRIPTION */
.feature-item h3 {
    color: var(--third-color);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
/* STYLES FOR FEATURE ITEM DESCRIPTION */
.feature-item p {
    color: var(--third-color);
    line-height: 1.6;
}
/* STYLES FOR RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature-item {
        width: auto;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* STYLES FOR MISSION AND VISION SECTION*/

.mv-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--principal-color);
}

.mv-title-header {
    padding-top: 3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.mv-title {
    text-align: center;
    color: var(--third-color);
}

.mv-block {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
}

.mv-block-title {
    text-align: center;
    color: var(--third-color);
    font-size: 2rem;
    
    margin-bottom: 1rem;
    
}

.mv-block-content {
    width: 50%;
    padding: 1rem;
    font-size: 1.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    line-height: 1.6;
}

.mv-block-img {
    width: 50%;
    padding: 1rem;
    padding-left: 5rem;
    padding-right:5rem;

}

.mv-block-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.mv-container:nth-child(odd) .mv-block-img {
    order: 2; 
}

.mv-container:nth-child(even) .mv-block-content {
    order: 2;
}

/* RESPONSIVE DESIGN FOR MISSION AND VISION */
@media (max-width: 768px) {
    .mv-block-content, .mv-block-img {
        width: 100%;
        order: 0; 
    }
}

/* STYLES FOR CONTENT FORM */
.content-form{
    box-sizing: border-box;
    background: #FBC12E;
    padding: 0 1.5em;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}
.logo-contact{
    text-align: center;
    font-size: 2em;
}
/* STYLES FOR CONTACT WRAPPER */
.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    
}
.contact-wrapper > * {
    padding: 1em;
}
/* STYLES FOR CONTACT FORM */
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
    grid-column: 1/3;
}
.contact-form form p{
    margin: 0;
    padding: 1em;
}
.contact-form form {
    margin: 0;
    padding: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border:#F7F4F3;
    background: white;
    border-radius: 5px;
}
.contact-form form button{
    background-color: #412B19;
    border: 0;
    color: #F7F4F3;
}
.contact-image img{
    width: 100%;
    height: 100%;
}

/* STYLES FOR RESPONSIVE DESIGN */
@media(min-width: 1000px){
    .contact-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* FOOTER STYLES */

.footer{
    background-color: #FBC12E;
    color: #f3f7f7;
    text-align: center;
    padding: 1rem;
}

